:host {
    ion-content {
        --background: linear-gradient(135deg, var(--ion-color-light), var(--ion-color-secondary))
      }

    ion-item {
         border-radius: 0;
      }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }

    .profile{
        background-color: #9e919dde
    }
    .todayslog{
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 3%;
        padding-right: 3%;
        --background: var(--ion-color-secondary);
        width: 150px;
        height: 80px;
    }
    .weight_goal_font{
        font-size: 60px;
        color: #f0d909de;
    }
    .weightchart-container{
        background-color: var(--ion-color-medium);
        border-color: var(--ion-color-dark);
        border-width: 1ch
    }
    .pictures{
        padding-left: 0px;
        padding-right: 0px;
    }

}
