// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #dfd0d6;
  --ion-color-primary-rgb: 223,208,214;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #c4b7bc;
  --ion-color-primary-tint: #e2d5da;

  /** secondary **/
  --ion-color-secondary: #e79cad;
  --ion-color-secondary-rgb: 231,156,173;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #cb8998;
  --ion-color-secondary-tint: #e9a6b5;

  /** tertiary **/
  --ion-color-tertiary: #ee6ca0;
  --ion-color-tertiary-rgb: 238,108,160;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #d15f8d;
  --ion-color-tertiary-tint: #f07baa;

  /** success **/
  --ion-color-success: #99e952;
  --ion-color-success-rgb: 153,233,82;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #87cd48;
  --ion-color-success-tint: #a3eb63;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #e10000;
  --ion-color-danger-rgb: 225,0,0;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #c60000;
  --ion-color-danger-tint: #e41a1a;

  /** light **/
  --ion-color-light: #9d9cb4;
  --ion-color-light-rgb: 157,156,180;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #8a899e;
  --ion-color-light-tint: #a7a6bc;

  /** medium **/
  --ion-color-medium: #4140ae;
  --ion-color-medium-rgb: 65,64,174;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #393899;
  --ion-color-medium-tint: #5453b6;

  /** dark **/
  --ion-color-dark: #25295f;
  --ion-color-dark-rgb: 37,41,95;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #212454;
  --ion-color-dark-tint: #3b3e6f;
 }
