<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">カメラ起動</ion-text>
        </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="notifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="dark" slot="end">2</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button ion-button argin shape="round" expand="full" color="secondary" (click)="takePicture()">Take a pic</ion-button>
    <div *ngIf="imgSrc">
      <img src="{{imgSrc}}" alt="" class="img-taken">
    </div>
  <ion-button ion-button argin shape="round" expand="full" color="secondary" (click)="submit()">Submit</ion-button>
  <ion-text color="light"> {{ calories_response }} </ion-text>
</ion-content>
